<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629775092299-v9jbu45gd7cjf2k04q852j68i1h0o8r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629775092299-v9jbu45gd7cjf2k04q852j68i1h0o8r9</string>
	<key>API_KEY</key>
	<string>AIzaSyCp6SSsWcpk6YzMB2_wpssa_8uK4ZMUCcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>629775092299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notification</string>
	<key>PROJECT_ID</key>
	<string>bridgeport-53828</string>
	<key>STORAGE_BUCKET</key>
	<string>bridgeport-53828.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>FirebaseAppDelegateProxyEnabled</key>
    <false></false>
	<key>GOOGLE_APP_ID</key>
	<string>1:629775092299:ios:af203741dabb45689d1bce</string>
</dict>
</plist>